.add_plans {
    position: fixed;
    display: flex;
    align-items: center;
    width: 75vw;
    height: 11vh;
    background-color: #ffffff1c;
    top: 20.5vh;
    right:2.2vw;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
}

.add_plans.collapsed {
    width: 93vw;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 6vh;
    margin-left: 0.9vw;
    font-size: 15px;
    transition: 0.5s;
}

.add.collapsed {
    position: fixed;
    /* top: 23vh;
    left: 6vw; */
    transition: 0.5s;
}

.add:hover {
    color: #646cff;
}

.plans_input {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 37vw;
    height: 4vh;
    left: 14vw;
    border-color: #646cff;
    border-radius: 10px;
    transition: 0.5s;
}

.plans_input.collapsed {
    width: 55vw;
    height: 4.3vh;
    border-color: #646cff;
    border-radius: 10px;
    transition: 0.5s;
}

.btns-add-section {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 10px;
    gap: 5px;
}

.btn-add-section {
    display: flex;
    flex-direction: row-reverse;
    transition: 0.5s;
    right: 100px;
}
.btn-add-section:hover {
    color: #646cff;
}