.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    background-color: #000000ac;
    top: 1vh;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    will-change: filter;
    transition: filter 300ms;
    padding-left: 15vw;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #ff0000);
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search {
    align-items: center;
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    border-color: #646cffaa;
    margin-left: 2vw;
    padding: 0 1vw;
    font-size: 1em;
}

.a {
    display: flex;
    align-items: center;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}