.add_plans {
    position: fixed;
    width: 75vw;
    height: 11vh;
    background-color: #ffffff1c;
    top: 20.5vh;
    right:2.2vw;
    border-radius: 10px;
    transition: 0.5s;
}

.add_plans.collapsed {
    width: 93vw;
}

.add {
    position: fixed;
    top: 23vh;
    left: 23.9vw;
    transition: 0.5s;
}

.add.collapsed {
    position: fixed;
    top: 23vh;
    left: 6vw;
    transition: 0.5s;
}

.add:hover {
    color: #646cff;
}

.plans_input {
    position: fixed;
    width: 37vw;
    height: 4vh;
    top: 23.5vh;
    right: 26vw;
    border-color: #646cff;
    border-radius: 10px;
    transition: 0.5s;
}

.plans_input.collapsed {
    position: fixed;
    width: 55vw;
    height: 4.3vh;
    top: 23.5vh;
    right: 26vw;
    border-color: #646cff;
    border-radius: 10px;
    transition: 0.5s;
}

.dieline {
    position: fixed;
    top: 23vh;
    right: 18.7vw;
    transition: 0.5s;
}
.dieline:hover {
    color: #646cff;
}

.reminder {
    position: fixed;
    top: 23vh;
    right: 10.5vw;
    transition: 0.5s;
}
.reminder:hover {
    color: #646cff;
}

.repeat {
    position: fixed;
    top: 23vh;
    right: 3.3vw;
    transition: 0.5s;
}
.repeat:hover {
    color: #646cff;
}