.today {
    position: fixed;
    background-color: #ffffff25;
    width: 75vw;
    height: 59vh;
    top: 33vh;
    right:2.2vw;
    border-radius: 10px;
    overflow-y: scroll;
    white-space: normal;
    word-wrap: break-word;
    padding-top: 5vh;
    transition: 0.5s;
}

.today.collapsed {
    width: 93vw;
    height: 59vh;
}
